body{
    width: 100%;
    margin: 0;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#label_password>img{
    width: 20px;
}

#change_visible{
    display: none;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#floating-header{
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 80px;
    font-family: cursive;
}

#flex-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#center-box{
    height: 40%;
    width: 40%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

form{
    display: inline-block;
}